body{
	margin: 0;
	padding: 0;
	background: url('EC034.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

strong{
	color: red;
	text-transform: uppercase;
}

em{
	color: white;
}

form{
	z-index: 100;
	margin: 0.1%;
	display: table;
	width: 48.5%;
	height: auto;
	/*padding-left: 1.5%;*/
	background-color: rgba(50, 50, 50, 1);
	padding: 0.1% 1.5%;
	text-align: center;
	border: 5px ridge white;
	position: fixed;
}

input{
	width: 50%;
}

.chat{
	position: absolute;
	position: fixed;
	overflow: scroll;
	top: 18%;
	display: table;
	width: 50%;
	border: 5px ridge grey;
	line-height: 0.1%;
	padding-left: 1.5%;
	background-color: rgba(15, 15, 15, 0.6);
	color: aqua;
}